* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  padding: 20px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.159);
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

/* .max_width {
  max-width: 1200px;
} */

span {
  font-weight: 700;
}